[submodule "modules/OpenSeadragonPlugin/src/main/resources/org/gephi/plugins/openseadragon"]
	path = modules/OpenSeadragonPlugin/src/main/resources/org/gephi/plugins/openseadragon
	url = https://github.com/totetmatt/gephi-openseadragon-plugin-frontend.git
