<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %-5p %L [%C] - %m%n"/>
    </Console>

    <File name="file" fileName="link-prediction.log" bufferedIO="false" >
      <PatternLayout pattern="%d{dd MMM yy}, %d{HH:mm:ss}, %-5p %m%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Logger name = "org.gephi.plugins.linkprediction.statistics.PreferentialAttachmentStatistics" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.statistics.CommonNeighboursStatistics" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.filter.CommonNeighboursFilter" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.filter.PreferentialAttachmentFilter" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.base.LinkPredictionFilter" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.base.LinkPredictionFilterBuilder" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.base.LinkPredictionFilterPanel" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.base.LinkPredictionStatistics" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.base.LinkPredictionStatisticsPanel" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.base.EvaluationMetric" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.statistics.LinkPredictionMacro" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.evaluation.LinkPredictionEvaluation" additivity="false">
        <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.evaluation.LinkPredictionEvaluationPanel" additivity="false">
      <AppenderRef ref="console" />
    </Logger>

    <Logger name = "org.gephi.plugins.linkprediction.evaluation.LinkPredictionAccuracy" additivity="false">
        <AppenderRef ref="console" />
    </Logger>

    <Logger name = "Filelogger" level="TRACE" additivity="false">
      <AppenderRef ref="file" />
    </Logger>

    <Root level="INFO" additivity="false">
      <AppenderRef ref="file" />
    </Root>
  </Loggers>

</Configuration>
